<article *ngIf="programme" class="list-group-item list-group-item-action">
  <div class="row justify-content-between">
    <h5 class="col">
      Programme <span class="badge badge-info">{{ programme.nom }}
        <span class="badge badge-light">{{ programme.numero }}</span>
      </span>
      <span class="sr-only">numéro</span>
    </h5>
    <small>Dernière mise à jour : <time>{{ programme.editionDate | date:'dd/MM/yyyy, HH:mm:ss' }}</time></small>
  </div>
  <p class="mb-1">
    {{ programme.description }}
  </p>
  <app-palier-list [paliers]=programme.paliers></app-palier-list>
  <div class="row justify-content-between">
    <small class="col">
      <!--Aucune cuisson n'a été suivie avec ce programme.-->
    </small>
    <button mat-icon-button (click)="triggerEdition()">
      <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
    </button>
    <button mat-icon-button (click)="triggerDelete()">
      <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
    </button>
  </div>
</article>
