<article class="list-group-item">
  <form (ngSubmit)="doSubmit(startCuissonForm, $event)" #startCuissonForm="ngForm" ngNativeValidate>
    <fieldset>
      <div class="form-group row">
        <label for="dateDebut" class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Date début</span>
          <mat-icon fontSet="fa" fontIcon="fa-clock" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col-auto">
          <input id="dateDebut" type="date" name="dateDebut" class="form-control form-control-sm"
            [(ngModel)]="dateDebut" (change)="onDateOrProgrammeChange()" required />
        </div>
        <div class="col-auto">
          <input id="heureDebut" type="time" name="heureDebut" class="form-control form-control-sm"
            [(ngModel)]="heureDebut" (change)="onDateOrProgrammeChange()" required />
        </div>
      </div>
      <div class="form-group row">
        <label for="programme" class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Programme</span>
          <mat-icon fontSet="fa" fontIcon="fa-tasks" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col-10 col-sm-4 input-group">
          <select id="programme" name="programme" class="custom-select" (change)="onDateOrProgrammeChange()"
            [(ngModel)]="selectedProgramme" required>
            <option hidden value="">Choisir un programme</option>
            <option *ngFor="let programme of programmes" [ngValue]="programme">
              {{programme.nom}} (#{{programme.numero}})
            </option>
          </select>
          <small>
            <app-programme-modal [programme]="selectedProgramme" (click)="$event.stopPropagation(); false"></app-programme-modal>
          </small>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Fin théorique</span>
          <mat-icon fontSet="fa" fontIcon="fa-stopwatch" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col-10 col-sm-3 input-group input-group-sm">
          <input type="text" name="dateFin" class="form-control-plaintext form-control-sm" [ngModel]="dateFin"
            readOnly />
        </div>
      </div>

      <div class="form-group row">
        <label for="conesTemperature" class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Cônes T°</span>
          <mat-icon fontSet="fa" fontIcon="fa-temperature-high" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col-auto">
          <div class="form-check form-check-inline">
            <input id="985" name="985" value="985" class="form-check-input" type="checkbox" ngModel />
            <label for="985" class="form-check-label">985°</label>
          </div>
          <div class="form-check form-check-inline">
            <input id="1101" name="1101" value="1101" class="form-check-input" type="checkbox" ngModel />
            <label for="1101" class="form-check-label">1101°</label>
          </div>
          <div class="form-check form-check-inline">
            <input id="1269" name="1269" value="1269" class="form-check-input" type="checkbox" ngModel />
            <label for="1269" class="form-check-label">1269°</label>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Description</span>
          <mat-icon fontSet="fa" fontIcon="fa-comment" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col">
          <textarea id="description" name="description" class="form-control form-control-sm" rows="3"
            ngModel></textarea>
        </div>
      </div>
    </fieldset>
    <input type="submit" value="Démarrer la cuisson" class="btn btn-primary" />
  </form>
</article>
