<div>
  <div class="row justify-content-between">
    <strong class="col">
      Palier n°{{numero}}
    </strong>
    <button mat-icon-button [hidden]="!enableRemove" (click)="onRemove()">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-icon-button [hidden]="!enableAdd" (click)="onAdd()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="form-group row">
    <label for="temperature" class="col-form-label col-sm-2 col-1">
      <span class="d-none d-sm-block">Température</span>
      <mat-icon fontSet="fa" fontIcon="fa-thermometer-half" class="d-block d-sm-none" inline></mat-icon>
    </label>
    <div class="col-4 col-sm-3 input-group input-group-sm">
      <input id="temperature" type="number" name="temperature" class="form-control form-control-sm no-spinners" min="0"
        max="2000" [(ngModel)]="palier.temperature" required />
      <div class="input-group-append">
        <span class="input-group-text">°</span>
      </div>
    </div>
    <label for="duree" class="col-form-label col-sm-2 col-1">
      <span class="d-none d-sm-block">Durée (heures/min) </span>
      <mat-icon fontSet="fa" fontIcon="fa-hourglass-half" class="d-block d-sm-none" inline></mat-icon>
    </label>
    <div class="col-5 col-sm-2">
      <input id="duree" type="time" name="duree" class="form-control form-control-sm" [(ngModel)]="palier.duree"
        required />
    </div>
  </div>
  <hr />
</div>
