<div class="btn-group btn-group-toggle">
  <ng-container
    *ngTemplateOutlet="statutButton; context: {statut: StatutCuisson.SOUSCUIT, index: 0, activeStyle: 'btn-outline-info'}">
  </ng-container>
  <ng-container
    *ngTemplateOutlet="statutButton; context: {statut: StatutCuisson.OK, index: 1, activeStyle: 'btn-outline-success'}">
  </ng-container>
  <ng-container
    *ngTemplateOutlet="statutButton; context: {statut: StatutCuisson.SURCUIT, index: 2, activeStyle: 'btn-outline-danger'}">
  </ng-container>
</div>

<ng-template #statutButton let-statut="statut" let-index="index" let-activeStyle="activeStyle">
  <label [ngClass]="buildButtonClass(statut, activeStyle)">
    <input [id]="key+index" type="radio" [name]="key" [value]="statut" [disabled]="readOnly" (click)="doSelect(statut)"
      required />
    <app-statut-icon [statut]="statut"></app-statut-icon>
  </label>
</ng-template>