<div class="container">
  <section>
    <h2>Cuisson active</h2>
    <ng-container *ngIf="cuissonsLoading$ | async">
      <div class="alert alert-warning" role="alert">
        <mat-icon
          fontSet="fa"
          fontIcon="fa-spinner"
          class="spinner"
          inline
        ></mat-icon>
        Chargement en cours...
      </div>
    </ng-container>

    <ng-container *ngIf="(cuissonsLoading$ | async) === false">
      <ng-container *ngIf="(activeCuisson$ | async) === undefined">
        <div class="alert alert-info" role="alert">
          Aucune cuisson en cours actuellement. Souhaitez-vous en démarrer une ?
        </div>
        <app-start-cuisson-form
          [programmes]="programmes$ | async"
          (valider)="addCuisson($event)"
        >
        </app-start-cuisson-form>
      </ng-container>

      <ng-container *ngIf="activeCuisson$ | async as activeCuisson">
        <app-stop-cuisson-form
          [cuisson]="activeCuisson"
          [programme]="getProgrammeMatching(activeCuisson, programmes$ | async)"
          (valider)="terminerCuisson($event)"
        >
        </app-stop-cuisson-form>
      </ng-container>

      <h2>Cuissons terminées</h2>
      <app-cuisson-table
        [cuissons]="cuissons$ | async"
        [programmes]="programmes$ | async"
        (delete)="supprimerCuisson($event)"
      ></app-cuisson-table>
    </ng-container>
  </section>
</div>
