<article class="list-group-item">
  <form (ngSubmit)="doSubmit(programmeForm, $event)" #programmeForm="ngForm" ngNativeValidate>
    <fieldset>
      <div class="form-group row">
        <label for="numero" class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Numéro</span>
          <mat-icon fontSet="fa" fontIcon="fa-hashtag" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col-auto">
          <input id="numero" type="number" name="numero" class="form-control form-control-sm no-spinners" required
            [ngModel]="programme.numero" />
        </div>
      </div>

      <div class="form-group row">
        <label for="nom" class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Programme</span>
          <mat-icon fontSet="fa" fontIcon="fa-pencil-alt" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col">
          <input id="nom" type="text" name="nom" class="form-control form-control-sm" required
            [ngModel]="programme.nom" />
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Description</span>
          <mat-icon fontSet="fa" fontIcon="fa-comment" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col">
          <textarea id="description" name="description" class="form-control form-control-sm" rows="3"
            [ngModel]="programme.description"></textarea>
        </div>
      </div>
    </fieldset>
    <hr />
    <fieldset>
      <app-palier-input-list name="paliers" [ngModel]="programme.paliers" ngDefaultControl></app-palier-input-list>
    </fieldset>
    <input type="submit" value="Valider" class="btn btn-primary" />
    <input type="button" value="Annuler" class="btn btn-secondary" (click)="doCancel(programmeForm)"
      [hidden]="!enableCancel" />
  </form>
</article>
