<ng-container *ngIf="isLoading$ | async">
  <div class="alert alert-warning" role="alert">
    <mat-icon
      fontSet="fa"
      fontIcon="fa-spinner"
      class="spinner"
      inline
    ></mat-icon>
    Chargement en cours...
  </div>
</ng-container>

<ng-container *ngIf="programmes$ | async as programmes">
  <app-programme-item
    *ngFor="let programme of programmes"
    [programme]="programme"
    (update)="doUpdate($event)"
    (delete)="doDelete(programme)"
  ></app-programme-item>
</ng-container>
