<div class="mat-elevation-z8">
  <table mat-table multiTemplateDataRows [dataSource]="dataSource" matSort matSortDisableClear>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="cuisson-row"
      [class.cuisson-expended-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="hidden-detail-row"></tr>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let cuisson">{{ cuisson.debut | date:'dd.MM.yy' }}</td>
    </ng-container>

    <ng-container matColumnDef="programme">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Programme</th>
      <td mat-cell *matCellDef="let cuisson">
        {{ this.getProgrammeMatching(cuisson)?.nom }}
        <span class="badge badge-info">{{ this.getProgrammeMatching(cuisson)?.numero }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="d-none d-md-table-cell">Durée</th>
      <td mat-cell *matCellDef="let cuisson" class="d-none d-md-table-cell">
        {{ this.calculateDureeCuisson(cuisson) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="cones">
      <th mat-header-cell *matHeaderCellDef class="d-none d-md-table-cell">Cônes</th>
      <td mat-cell *matCellDef="let cuisson" class="d-none d-md-table-cell">
        <div *ngIf="cuisson.cones" class="d-flex flex-row justify-content-around">
          <span *ngFor="let cone of cuisson.cones">
            {{cone.name}}°
            <app-statut-icon [statut]="cone.statut" [active]="true"></app-statut-icon>
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="statut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Statut</th>
      <td mat-cell *matCellDef="let cuisson">
        <app-statut-icon [statut]="cuisson.statut" [active]="true"></app-statut-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" class="full-width-row">
        <div class="cuisson-detail" [@detailExpand]="element === expandedElement ? 'expanded' : 'collapsed'">
          <app-cuisson-card class="cuisson-card" [cuisson]="element" [programme]="this.getProgrammeMatching(element)"
            (delete)="triggerDelete(element)"></app-cuisson-card>
        </div>
      </td>
    </ng-container>
  </table>
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
