table {
  width: 100%;
}

tr.hidden-detail-row {
  height: 0;
}

tr.cuisson-row:not(.cuisson-expended-row):hover {
  background: lightcyan;
}

tr.cuisson-row:not(.cuisson-expended-row):active {
  background: #efefef;
}

td.mat-cell.full-width-row {
  padding-left: 0;
  padding-right: 0;
}

.cuisson-detail {
  overflow: hidden;
  display: flex;
}

.cuisson-card {
  margin: 16px;
  width: 100%;
}

.mat-column-duration {
  width: 80px;
}

.mat-column-statut {
  width: 80px;
  text-align: center;
}

.mat-column-cones {
  text-align: center;
}
