<app-programme-card [programme]="programme" [hidden]="isEditionMode" (edit)="toggleEdition()"
  (delete)="deleteProgramme()"></app-programme-card>
<app-programme-form *ngIf="isEditionMode" [programme]="programme" (annuler)="toggleEdition()"
  (valider)="saveProgramme($event)"></app-programme-form>