<div class="row">
  <div class="col-sm">
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Durée</th>
          <th scope="col">Température</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let palier of paliers; index as i">
          <th scope="row">{{ i }}</th>
          <td>{{palier.duree}}h</td>
          <td>{{palier.temperature}}°</td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-palier-graph [paliers]="paliers" ></app-palier-graph>
</div>