<div *ngIf="programme">
  <button mat-icon-button (click)="staticModal.show()">
    <mat-icon fontSet="fa" fontIcon="fa-chart-line"></mat-icon>
  </button>

  <div bsModal #staticModal="bs-modal" class="modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{programme.nom}} (#{{programme.numero}})</h5>
          <button type="button" class="close" aria-label="Close" (click)="staticModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-palier-graph [paliers]="programme.paliers"></app-palier-graph>
        </div>
      </div>
    </div>
  </div>
</div>
