<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Oven Brother</span>
</mat-toolbar>

<mat-sidenav-container
  class="content-container display-modal-fix"
  [class.home-page]="isHomePage"
>
  <mat-sidenav [opened]="!mobileQuery.matches" mode="side" #drawer>
    <ng-container *ngIf="user$ | async as user">
      <mat-list>
        <div matSubheader *ngIf="isLogged(user)">{{ user.displayName }}</div>
        <div matSubheader *ngIf="!isLogged(user)">
          Accès limité, merci de vous authentifier.
        </div>
        <mat-list-item>
          <a
            mat-button
            class="menu-button"
            routerLink=""
            routerLinkActive
            [routerLinkActiveOptions]="{ exact: true }"
            #rlaHome="routerLinkActive"
            [color]="rlaHome.isActive ? 'primary' : 'basic'"
          >
            <mat-icon>home</mat-icon>
            Page d'accueil
          </a>
        </mat-list-item>
        <mat-list-item>
          <a
            mat-button
            class="menu-button"
            routerLink="programmes"
            routerLinkActive
            #rlaProgrammes="routerLinkActive"
            [color]="rlaProgrammes.isActive ? 'primary' : 'basic'"
          >
            <mat-icon>tune</mat-icon>
            Programmes
          </a>
        </mat-list-item>
        <mat-list-item>
          <a
            mat-button
            class="menu-button"
            routerLink="cuissons"
            routerLinkActive
            #rlaCuissons="routerLinkActive"
            [color]="rlaCuissons.isActive ? 'primary' : 'basic'"
          >
            <mat-icon>timer</mat-icon>Cuissons
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div matSubheader>v{{ appVersion }}</div>
        <mat-list-item>
          <button
            mat-button
            class="menu-button"
            *ngIf="!isLogged(user)"
            (click)="doGoogleLogin()"
          >
            <mat-icon>power_settings_new</mat-icon>
            Connexion
          </button>
          <button
            mat-button
            class="menu-button"
            *ngIf="isLogged(user)"
            (click)="doLogout()"
          >
            <mat-icon>power_settings_new</mat-icon>
            Deconnexion
          </button>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content class="display-modal-fix">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
