<article class="list-group-item" *ngIf="cuisson">
    <div class="d-flex flex-row justify-content-around" style="align-items: center;">
        <span style="text-align: center">
            {{ cuisson.debut | date:'dd.MM.yyyy' }}
            <br />
            {{ cuisson.debut | date:'HH\'h\'mm' }}
        </span>
        <span class="duration-arrow">
            {{ this.calculateDureeCuisson(cuisson) }}
            <svg width="100%" height="10px">
                <linearGradient id="Gradient1">
                    <stop offset="0%" style="stop-color:yellow" />
                    <stop offset="50%" style="stop-color:red" />
                    <stop offset="100%" style="stop-color:blue" />
                </linearGradient>
                <svg viewBox="0 0 1 1" preserveAspectRatio="none">
                    <rect x="0" y="0.4" width="1" height="0.2" style="fill:url(#Gradient1)" />
                </svg>
                <svg viewBox="0 0 0.2 1" preserveAspectRatio="xMinYMid">
                    <rect x="0" y="0.2" width="0.2" height="0.6" fill="yellow" />
                </svg>
                <svg viewBox="0 0 0.8 1" preserveAspectRatio="xMaxYMid">
                    <polygon points="0,0 0.8,0.5 0,1" fill="blue" />
                </svg>
            </svg>
        </span>
        <span style="text-align: center">
            {{ cuisson.fin | date:'dd.MM.yyyy' }}
            <br />
            {{ cuisson.fin | date:'HH\'h\'mm' }}
        </span>
    </div>

    <hr />
    <h6>
        Programme {{ programme?.nom }}
        <span class="badge badge-info">{{ programme?.numero }}</span>
        &nbsp;
        <app-statut-icon [statut]="cuisson.statut" [active]="true"></app-statut-icon>
    </h6>

    <ng-container *ngTemplateOutlet="conesDisplay; context: {cuisson: cuisson}"></ng-container>
    <br />

    <div class="row">
        <div *ngIf="cuisson.description" class="col-md-6 col-12">
            <h6>
                <mat-icon inline>comment</mat-icon> Description
            </h6>
            <p>{{ cuisson.description }}</p>
        </div>
        <div *ngIf="cuisson.observations" class="col-md-6 col-12">
            <h6>
                <mat-icon inline>visibility</mat-icon> Observations
            </h6>
            <p>{{ cuisson.observations }}</p>
        </div>
    </div>

    <div class="row justify-content-end">
        <button mat-icon-button (click)="triggerDelete(cuisson)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</article>

<ng-template #conesDisplay let-cuisson="cuisson">
    <ng-container *ngIf="cuisson.cones">
        <div *ngIf="cuisson.cones" class="d-flex flex-row justify-content-around">
            <span *ngFor="let cone of cuisson.cones">
                {{cone.name}}°
                <app-statut-icon [statut]="cone.statut" [active]="true"></app-statut-icon>
            </span>
        </div>
    </ng-container>
</ng-template>
