/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";

@import "@fortawesome/fontawesome-free/css/all.min.css";

@import "ngx-toastr/toastr";

@import "@angular/material/prebuilt-themes/indigo-pink.css";

.content-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.home-page {
  background-color: #6b8dac;
}

.footer {
  width: 100%;
  line-height: 60px;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0px;
}

/* hide up/down arrows ("spinners") on input fields marked type="number" */
.no-spinners {
  -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.spinner {
  animation: fa-spin 2s infinite linear;
  -webkit-animation: fa-spin 2s infinite linear;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
}

header.masthead h1 {
  font-size: 4.75em;
  line-height: 4rem;
  font-family: Montserrat;
}

header.masthead h2 {
  font-size: 1.75em;
  font-family: Lato;
}

label.col-form-label {
  text-align: right;
}

.oven-top-bar {
  z-index: 6;
}

button:focus {
  outline: none;
}
