<header class="masthead text-white text-center">
  <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="assets/img/logo.png" alt="" />
      <h1 class="text-uppercase mb-0">Oven Brother</h1>
      <hr />
      <h2 class="font-weight-light mb-0">The one who takes care of it.</h2>
  </div>
</header>