<article class="list-group-item">
  <form (ngSubmit)="doSubmit(stopCuissonForm, $event)" #stopCuissonForm="ngForm" ngNativeValidate>
    <fieldset>
      <div class="form-group row">
        <label class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Date début</span>
          <mat-icon fontSet="fa" fontIcon="fa-clock" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col-auto">
          <span class="form-control-plaintext">{{ cuisson.debut | date:'dd.MM.yyyy à HH\'h\'mm' }}</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Programme</span>
          <mat-icon fontSet="fa" fontIcon="fa-tasks" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col-10 col-sm-4 input-group">
          <span class="form-control-plaintext">{{ programmeText }}</span>
          <small *ngIf="programme">
            <app-programme-modal [programme]="programme"></app-programme-modal>
          </small>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Description</span>
          <mat-icon fontSet="fa" fontIcon="fa-comment" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col">
          <textarea id="description" name="description" class="form-control form-control-sm" rows="3"
            [value]="cuisson.description" readOnly></textarea>
        </div>
      </div>
    </fieldset>

    <hr />

    <fieldset>
      <div class="form-group row">
        <label for="dateFin" class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Date défournement</span>
          <mat-icon fontSet="fa" fontIcon="fa-clock" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col-auto">
          <input id="dateFin" type="date" name="dateFin" class="form-control form-control-sm" [(ngModel)]="dateFin"
            required />
        </div>
        <div class="col-auto">
          <input id="heureFin" type="time" name="heureFin" class="form-control form-control-sm" [(ngModel)]="heureFin"
            required />
        </div>
      </div>
      <ng-container *ngIf="cuisson.cones">
        <div class="form-group row" *ngFor="let cone of cuisson.cones">
          <label htmlFor="{{cone.name}}" class="col-form-label col-sm-2 col">
            <span>Cône {{cone.name}}°</span>
          </label>
          <div class="col">
            <app-statut-input [name]="cone.name" [key]="cone.name" ngModel></app-statut-input>
          </div>
        </div>
      </ng-container>
      <hr />
      <div class="form-group row">
        <label htmlFor="dateFin" class="col-form-label col-sm-2 col">
          <span>Statut cuisson</span>
        </label>
        <div class="col">
          <app-statut-input name="statut" key="statut" ngModel></app-statut-input>
        </div>
      </div>
      <div class="form-group row">
        <label for="observations" class="col-form-label col-sm-2 col-1">
          <span class="d-none d-sm-block">Observations</span>
          <mat-icon fontSet="fa" fontIcon="fa-comment" class="d-block d-sm-none" inline></mat-icon>
        </label>
        <div class="col">
          <textarea id="observations" name="observations" class="form-control form-control-sm" rows="3"
            ngModel></textarea>
        </div>
      </div>
    </fieldset>
    <input type="submit" value="Terminer la cuisson" class="btn btn-primary" />
  </form>
</article>
